<section class="general">
  <div>
    <h1>{{names[language.get()]}}</h1>
    <p [innerHTML]="infos[language.get()]"></p>
    <button type="button" class="btn btn-success" routerLink="/contact">{{contactMes[language.get()]}}</button>
  </div>
  <img src="image.webp">
</section>

<section class="abilities">
  <h2>{{abilities[language.get()]}}</h2>
  <div class="skill" *ngFor="let skill of skills">
    <div class="skill-header">
      <p class="skill-name">{{skill.name}}</p>
      <p class="skill-percentage">{{skill.percentage}}%</p>
    </div>
    <div class="skill-bar">
      <div class="skill-progress {{getSkillLevel(skill.percentage)}}" [style.width.%]="skill.percentage"></div>
    </div>
  </div>
</section>

<section class="projects">
  <h2>{{projects[language.get()]}}</h2>
  <div class="projectsCont">
    <div class="project" *ngFor="let project of projectsArr">
      <img [src]="project.photo">
      <div class="projectBar">
        <p>{{project.name}}</p>
        <a type="button" class="btn btn-primary" [href]="project.link">{{viewWebs[language.get()]}}</a>
      </div>
    </div>
  </div>
</section>
