<section id="projects">
    <div class="container">

        <div class="projects-header reveal">
            <span class="section-label">Portfolio</span>
            <h2 class="section-title">Selected <em>Projects</em></h2>
        </div>

        <div class="projects-grid">
            <div class="project-card reveal" *ngFor="let project of projects(); let i = index"
                [style.transition-delay]="i * 0.1+'s'">
                <!-- [style.background]="project.gradient" -->
                <div class="project-thumb" [style.background]="projectThemeServ.gradients[project.theme]">
                    {{ project.icon }}
                </div>

                <div class="project-body">
                    <h3 class="project-title">{{ project.title }}</h3>
                    <p class="project-desc">{{ project.desc }}</p>

                    <div class="project-footer">
                        <div class="project-tech">
                            <span class="tech-tag" *ngFor="let t of project.tags">{{ t.name }}</span>
                        </div>
                        <div class="project-tech">
                            <a *ngIf="project.githubLink" [href]="project.githubLink" target="_blank" class="project-link">
                                ↗ GitHub
                            </a>
                            <a *ngIf="project.demoLink" [href]="project.demoLink" target="_blank" class="project-link">
                                ↗ Demo
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>